# Directus
directus/database
directus/extensions
directus/uploads

# Docker
.dockerignore
compose.yaml
dockerfile

# Editors
.DS_Store
.fleet
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Environment
.env
.env.*

# Files
.git
.gitignore
*.md

# Logs
*.log
logs

# Packages
node_modules
