# Database
*.sql*

# Directus
directus/database/**
directus/extensions/**
directus/uploads/**

# Editors
.DS_Store
.fleet
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Environment
.env
.env.*

# Nuxt
.cache
.data
.nitro
.nuxt
.output
dist

# Logs
*.log
logs

# Packages
node_modules

# Keep
!.env.example
!.gitkeep
