---
import { User } from '../../islands/client/user';
---

<header class="flex items-center border-b p-4 bg-zinc-200">
  <a href="">Company Name</a>
  <nav></nav>
  <div class="ml-auto">
    <User client:load />
  </div>
</header>
