---
import { User } from '../islands/client/user';
import Default from '../layouts/default.astro';
---

<Default>
  <main class="bg-muted grid min-h-screen place-items-center">
    <h1>Hello World</h1>
  </main>
</Default>
