---
import '@repo/ui/styles/tailwind.css';
import User from '@/islands/user.astro';
import { Skeleton } from '@repo/ui/components/ui/skeleton.tsx';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <User server:defer>
      <Skeleton
        className="h-8"
        slot="fallback"
      />
    </User>
  </body>
</html>
