@tailwind components;

@layer components {
[class^='button-'] {
    @apply flex h-12 items-center justify-center gap-1 rounded px-3 font-medium;
  }

  $colors: neutral, brand, informative, successful, cautionary, destructive;
  $variants: bold, subtle, outline, ghost;

  @each $color in $colors {
    @each $variant in $variants {
      .button-#{$color}-#{$variant} {
        @if ($variant == 'bold') {
          background: var(--#{$color});
          color: var(--#{$color}-subtle);
        } @else {
          color: var(--#{$color});
        }
        @if ($variant == 'subtle') {
          background: var(--#{$color}-subtle);
        }
        @if ($variant == 'outline') {
          border: var(--border-width) solid var(--#{$color}-subtle);
        }
      }
    }
  }
}
