:root {
  --background: #f4f4f5;
  --background-subtle: #fafafa;

  --foreground: #09090b;
  --foreground-subtle: #52525b;

  --neutral: #09090b;
  --neutral-subtle: #e4e4e7;

  --brand-bold: #1e1b4b;
  --brand: #4f46e5;
  --brand-subtle: #e0e7ff;

  --informative-bold: #082f49;
  --informative: #0284c7;
  --informative-subtle: #e0f2fe;

  --successful-bold: #022c22;
  --successful: #059669;
  --successful-subtle: #d1fae5;

  --cautionary-bold: #451a03;
  --cautionary: #d97706;
  --cautionary-subtle: #fef3c7;

  --destructive-bold: #4c0519;
  --destructive: #e11d48;
  --destructive-subtle: #ffe4e6;

  --border: #e4e4e7;
  --border-width: 0.0625rem;

  --input: var(--border);

  --ring: var(--brand-bold);

  @media (prefers-color-scheme: dark) {
    --background: #09090b;
    --background-subtle: #18181b;

    --foreground: #fafafa;
    --foreground-subtle: #a1a1aa;

    --neutral: #fafafa;
    --neutral-subtle: #27272a;

    --brand-subtle: #1e1b4b;
    --brand: #818cf8;
    --brand-bold: #e0e7ff;

    --informative-subtle: #082f49;
    --informative: #38bdf8;
    --informative-bold: #e0f2fe;

    --successful-subtle: #022c22;
    --successful: #34d399;
    --successful-bold: #d1fae5;

    --cautionary-subtle: #451a03;
    --cautionary: #fbbf24;
    --cautionary-bold: #fef3c7;

    --destructive-subtle: #4c0519;
    --destructive: #fb7185;
    --destructive-bold: #ffe4e6;

    --border: #27272a;
  }
}
