---
import { createPublicClient } from '@repo/directus/api/authentication.ts';
import { PUBLIC_URL } from 'astro:env/client';
import { serverHealth } from '@directus/sdk';

const client = createPublicClient({ url: PUBLIC_URL });
const data = await client.request(serverHealth());
---

<div class="flex items-center gap-2">
  <span class="bg-orange-600 px-2 rounded">Server Island</span>
  <pre>{JSON.stringify(data)}</pre>
</div>
