:root {
  color-scheme: light;

  /* Colors */
  --background: var(--zinc-100);
  --background-subtle: var(--zinc-50);

  --foreground: var(--zinc-950);
  --foreground-subtle: var(--zinc-600);

  --neutral: var(--zinc-950);
  --neutral-subtle: var(--zinc-200);

  --brand-bold: var(--indigo-950);
  --brand: var(--indigo-600);
  --brand-subtle: var(--indigo-100);

  --informative-bold: var(--sky-950);
  --informative: var(--sky-600);
  --informative-subtle: var(--sky-100);

  --successful-bold: var(--emerald-950);
  --successful: var(--emerald-600);
  --successful-subtle: var(--emerald-100);

  --cautionary-bold: var(--amber-950);
  --cautionary: var(--amber-600);
  --cautionary-subtle: var(--amber-100);

  --destructive-bold: var(--rose-950);
  --destructive: var(--rose-600);
  --destructive-subtle: var(--rose-100);

  /* Borders */
  --border: var(--zinc-200);
  --border-width: 0.0625rem;

  /* Inputs */
  --input: var(--border);

  /* States */
  --ring: var(--brand-bold);

  /* Animations */
  --animation-duration: 150ms;

  @media (prefers-reduced-motion) {
    --animation-duration: 0ms;
  }

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --background: var(--zinc-950);
    --background-subtle: var(--zinc-900);

    --foreground: var(--zinc-50);
    --foreground-subtle: var(--zinc-400);

    --neutral: var(--zinc-50);
    --neutral-subtle: var(--zinc-800);

    --brand-bold: var(--indigo-100);
    --brand: var(--indigo-400);
    --brand-subtle: var(--indigo-950);

    --informative-bold: var(--sky-100);
    --informative: var(--sky-400);
    --informative-subtle: var(--sky-950);

    --successful-bold: var(--emerald-100);
    --successful: var(--emerald-400);
    --successful-subtle: var(--emerald-950);

    --cautionary-bold: var(--amber-100);
    --cautionary: var(--amber-400);
    --cautionary-subtle: var(--amber-950);

    --destructive-bold: var(--rose-100);
    --destructive: var(--rose-400);
    --destructive-subtle: var(--rose-950);

    --border: var(--zinc-800);
  }
}
